@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500');

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:#fff;
    font-family:'poppins',sans-serif;


}

.giris{
    text-align: center;
    width: 350px;
    box-sizing: border-box;
    padding: 40px;
    background: rgb(31, 148, 202);
}

.giris h2{
    margin: 0 0 20px;
    padding: 0;
    font-size: 30px;
    text-transform: uppercase;
}

.giris .pc{
    position: relative;
    width: 100%;
    margin-bottom: 25px;

}

.giris .pc input{
height: 50px;
width: 100%;
padding:0 20px;
box-sizing: border-box;
font-size: 18px;
outline: none;
border: 1px solid #000;

}

.giris .pc span{
    position: absolute;
    top: 12px;
    left: 20px;
    padding: 0;
    transition: 0.5s;
    pointer-events: none;
    background: #fff;
    text-transform: uppercase;

}

.giris .pc input:focus~span,
.giris .pc input:valid~span{
    top: -12px;
    left: 12px;
    font-size: 12px;
    padding: 2px 4px;
    border: 1px solid #000;
    background: #fff;
}

.giris .pc input[type="submit"]{
    background: #fff;
    border: none;
    box-shadow: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}


.giris .pc input[type="submit"]:hover{
    background: #ffc107;
}

.giris a{
    color: #262626;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #666;

}

.giris a span{
    color:#262626;
    font-weight: 600;
}



